@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@400;500;700&display=swap');

body { 
  font-family: 'Noto Sans Sinhala', sans-serif; 
  background:#FFF8E7;
  line-height: 1.7;
}

* {
  font-family: 'Noto Sans Sinhala', sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}